body {
	font-family: Verdana, sans-serif;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
    padding: 2em;
}

code {
	padding: 2px 5px;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}