
<header>
	<nav class="pb-16">
		<a href="/" class="inline-flex items-center gap-1 text-sm text-gray-500/80 hover:text-gray-700 transition-colors" title="Back to Index Page">
			Home
		</a>
	</nav>
</header>
